body{ margin: 0;}

h1{margin: 0;
color:  #66BFBF;
font-family:"Lucida Console", Courier, monospace;
}

h2{
  color: #66BFBF;
  text-align: center;
}
h3{
  color: #11999E;
}
hr{
  border: dotted;
  border-bottom: none;
  width: 5%;
  color: #41d0e0;
}
p{
  font-weight: normal;
  font-family:"Lucida Console", Courier, monospace;
}



.top{
  background-color:#EAF6F6;
height: 300px;
}

.html{
  height:50px;
  width:40px;
  padding-left: 1000px;
padding-top: 100px;
position: absolute;
}

.css{
  height:50px;
  width:40px;
  padding-top: 180px;
  padding-left: 120px;
  position: absolute;
}

.b{
  height:50px;
  width:40px;
  padding-top: 70px;
  padding-left: 350px;
  position: absolute;
}

.xd{
  height:50px;
  width:40px;
  padding-top: 200px;
  padding-left: 1300px;
  position: absolute;
}


#container{
  padding-top: 120px;
  color:#66BFBF;
  line-height: 40px;
  text-align: center;
}

.prof_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  width:150px;
  border-radius: 50%;
  padding-top: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}
.profile{
  text-align: center;
  padding-bottom: 50px;
}

.skills{
  padding-bottom: 90px;
  padding-top: 20px;
}

.skill-row{
  padding-top: 20px;
  margin:0px auto;
  width: 50%;

}
.skill-row1{
  border-radius: 50%;
  float: left;
  height: 90px;
}

.skill-row2{
  border-radius: 50%;
  float: right;
  height: 90px;
}

.contact-me{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.contact{
  width: 30%;
  margin:auto;
  padding-bottom: 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-link{
  color: #11999E;
  margin-left: 30px;
  font-family:"Lucida Console", Courier, monospace;
}

.copyrights{
  color: #EAF6F6;
  margin-top: 30px;
  font-size: small;

}



.myButton {
	box-shadow: 1px 8px 14px -7px #276873;
	background-color:#41d0e0;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
	padding:10px 21px;
	text-decoration:none;
	text-shadow:0px 0px 7px #3d768a;
}
.myButton:hover {
	background-color:#4ab0c9;
}
.myButton:active {
	position:relative;
	top:1px;
}
